/*------------------- Center the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f6fa;
}

/* --------------------Card style */
.login-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* ------------------Input with icon */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px;
}

.input-group .icon {
  margin-right: 8px;
  font-size: 18px;
  color: orange; 
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
}

/* ---------------------Options row */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: black;
}

.options a:hover {
  text-decoration: underline;
}

/* ---------------Btn(login) */
.btn-left {
  text-align: left; 
}

.login-btn {
  padding: 10px 20px;
  background: orangered;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
}

.login-btn:hover {
  background: white;
  color: orangered;
  /* border-radius: orangered; */
border: 2px solid orangered;
}
